<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SutrulaaGO</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <meta http-equiv="refresh" content="5;url=/signin">
  <style>
    body {
      background-color: #e0f7fa; /* Light teal */
    }
  </style>
</head>
<body class="h-screen flex flex-col items-center justify-center text-center">
  <img src="{{ url_for('static', filename='images/logo.png') }}" alt="SutrulaaGO Logo" class="mx-auto" style="max-width: 360px;">
  <h1 class="mt-1 text-6xl font-extrabold" style="color:#004d40;">SutrulaaGO</h1>
</body>
</html>
